<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <form action="/todos" method="POST">
        <input type="text" name="todo" placeholder="Enter a todo">
        <button type="submit">Add Todo</button>
    </form>
    <ul>
        <% todos.forEach(function(todo) { %>
            <li><%= todo %></li>
        <% }); %>
    </ul>
</body>
</html>
